{% extends "MirrorMirrorSiteBundle::logged.html.twig" %}

{% block title %}Mirror|{{ PageTitle }}{% endblock %}

{% block header %}Mirror - {{ PageTitle }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/Mirror/css/main.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/Mirror/css/header.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/Mirror/css/paginator.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/Mirror/votes/css/vote.css') }}" type="text/css"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/Mirror/main.js') }}"></script>
    <script src="{{ asset('bundles/Mirror/voting.js') }}"></script>
    <script src="{{ asset('bundles/Mirror/comment.js') }}"></script>
{% endblock %}

{% block body %}
    <section>
        {% include "MirrorMirrorSiteBundle:User:postsLoop.html.twig" %}
        <div id="footNavi">
            {% if PageTitle == 'home' %}
                {% for i in Navi.max..Navi.min %}
                    {% if i == Navi.current %}
                        <a class="thisLink">{{ i }}</a>
                    {% else %}
                        <a class="pageLinkFoot" href="{{ path('user_home', {'page': i }) }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for i in Navi.max..Navi.min %}
                    {% if i == Navi.current %}
                        <a class="thisLink">{{ i }}</a>
                    {% else %}
                        <a class="pageLinkFoot" href="{{ path('user_sort', {'sort': PageTitle, 'page': i }) }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}