{% for item in Posts %}
    <div class="blockCont">
        <div class="block">
            <h1>
                <a href="{{ path('viewer', {'fileName': item.file.path }) }}" aria-label="Name">{{ item.file.shortName }}</a>
                <span id="fileVote{{ item.file.id }}" class="userVoteArea">
                    <i class="icon-thumbs-up voting" title="Upvote" aria-label="Upvote" style="color: {{ item.upVote }};">
                        &#xe800;
                    </i>
                    <span title='Vote' aria-label="Vote">{{ item.file.vote }}</span>
                    <i class="icon-thumbs-down voting" title="Downvote" aria-label="Downvote" style="color: {{ item.downVote }};">
                        &#xe801;
                    </i>
                </span>
                <time aria-label="Added">{{ item.file.when_.format('jS M Y H:i:s') }}</time>
            </h1>
            {% if item.file.isVideo() %}
                <video controls>
                    <source src="/{{ item.file.webPath }}" type="{{ item.file.videoType }}"/>
                </video>
            {% else %}
                <img src="/{{ item.file.webPath }}"/>
            {% endif %}
        </div>
        <div class="commentCont">
            <ul class="comments">
                {% for com in item.comments %}
                    <li>
                        <h5>{{ com.User.username }}<span>{{ com.comment.when.format('d.m.y H:i') }}</span></h5>
                        <div class="commentMessage">{{ com.comment.message }}</div>
                    </li>
                {% endfor %}
                <li style="background: none; border: 0;">
                    <textarea id="newComment{{ item.file.id }}" placeholder="Say something" class="newComments"></textarea>
                </li>
            </ul>

        </div>
    </div>
{% endfor %}