<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <h1>
                <a href="{{ path('home') }}">{% block header %}{% endblock %}</a>
            </h1>
            <nav class="shadow">
                <a href="{{ path('home') }}" class="menuItem">Home</a>
                <a href="{{ path('sort', { 'sort': 'top' }) }}" class="menuItem">Top</a>
                <a href="{{ path('sort', { 'sort': 'trash' }) }}" class="menuItem">Recycle Bin</a>
                <form action="{{ path('login_check') }}" method="post" id="login_form">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ Auth['lastUserName'] }}" required/>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" required/>

                    <button type="submit" class="menuItem">Login</button>
                </form>
                <a class="menuItem" href="{{ path('register') }}">New user</a>
            </nav>
        </header>

        {% block body %}{% endblock %}

        <div id="addNew" class="shadow">
            <div id="addNewPlus"><!-- PLUS --></div>

            <div class="fileForm" id="fileFormBlock">
                <form action="{{ path('add') }}" method="POST" enctype="multipart/form-data">
                    <input type="text" name="name"  title="Title" class="fileForm" placeholder="Title" id="fileTitle"/>
                    <input type="file" name="file" class="fileForm" accept="video/mp4,video/x-m4v,video/*"/>
                    <button type="button" id="fileSend" class="fileForm">
                        Upload
                    </button>
                </form>

            </div>

            <div class="fileForm" id="xBlock">&#10006;</div>
        </div>

        {% block javascripts %}{% endblock %}
        {% if Auth['error'] %}
            <script>alert('{{ Auth['error'].messageKey|trans(Auth['error'].messageData, 'security') }}');</script>
        {% endif %}
    </body>
</html>
