<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header>
    <h1>
        <a href="{{ path('user_home') }}">
            {% block header %}{% endblock %}
        </a>
    </h1>
    <nav class="shadow">
        <a href="{{ path('user_home') }}" class="menuItem">Home</a>
        <a href="{{ path('user_sort', { 'sort': 'top' }) }}" class="menuItem">Top</a>
        <a href="{{ path('user_sort', { 'sort': 'trash' }) }}" class="menuItem">Recycle Bin</a>
        <div style="width: 15%; font-weight: 600; color: #20812e;">
            Hello {{ User.username }}!
        </div>
        <a href="{{ path('logout') }}" class="menuItem">Logout</a>
    </nav>
</header>
{% block body %}{% endblock %}

<div id="addNew" class="shadow">
    <div id="addNewPlus"><!-- PLUS --></div>

    <div class="fileForm" id="fileFormBlock">
        <form action="{{ path('add') }}" method="POST" enctype="multipart/form-data">
            <input type="text" name="name"  title="Title" class="fileForm" placeholder="Title"/>
            <input type="file" name="file" class="fileForm"/>
        </form>
        <button type="button" id="fileSend" class="fileForm">
            Upload
        </button>
    </div>

    <div class="fileForm" id="xBlock">&#10006;</div>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
