header {
    background: #002e3d;
    display: flex;
    flex-flow: column;
    padding: 0.5em 0 0 0;
    align-items: center;
    text-shadow: 0 0.2em 0.2em #000;
}
header h1 {
    font-size: 3.5em;
}
nav {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: #002b3a;
    z-index: 2;
    justify-content: space-between;
}
nav .menuItem {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 0;
    color: #ddd;
    padding: 1em 0.5em;
    flex-grow: 1;
    margin: 0 0.5em;
    background: 0;
    border-radius: 0.25em;
    transition: all 0.25s ease;
}

nav .menuItem:hover {
    color: #005470;
    background: #002430;
}
nav .menuItem:focus {
    outline: none;
}

nav #login_form {
    font-weight: 600;
    background: #335f6d;
    padding: .1em .2em;
    border-radius: .15em;
}

nav #login_form input {
    border: .1em solid #002430;
    border-radius: .175em;
    background: #eeeeee;
    color: #252525;
    font-weight: 600;
}