@import url("http://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext");

a { text-decoration: none; color: white; }
.shadow {
    box-shadow: 0 0.3em 0.4em 0.2em rgba(0,0,0,0.2);
}
::-webkit-scrollbar {
    background: #002936;
}
::-webkit-scrollbar-thumb {
    background: #bec2c2;
    border-radius: .2em;
}
h1 {
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #ddd;
    height: 100vh;
    align-items: center;
    background: #206b6a;
    justify-content: center;
    font-family: "Inconsolata";
}

section {
    margin: 0 3em;
    display: flex;
    flex-flow: column;
    align-items: center;
}
section .blockCont {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 2em 0;
    transition: 0.25s ease;
}
section .blockCont .block {
    max-width: 100%;
    cursor: pointer;
    background: #002936;
    display: flex;
    flex-flow: column;
    align-items: center;
    transition: 1s ease;
}
section .blockCont .block h1 {
    width: 100%;
    display: flex;
    padding: 0.25em 0.5em;
    align-items: center;
    justify-content: space-between;
    background: #002531;
}
section .blockCont .block h1 time {
    font-size: .7em;
}
section .blockCont .block img, section .blockCont .block video {
    width: 100%;
    height: 100%;
}

.commentCont {
    position: relative;
    margin: 0;
    width: 0;
    transition: width 1s ease;
}

.blockCont .commentCont .comments {
    margin: 0;
    color: #eee;
    height: 100%;
    width: 100%;
    padding: 0.5em;
    background: #345;
    text-align: center;
    overflow-y: scroll;
    position: absolute;
    box-sizing: border-box;
}

.comments li {
    display: block;
    background: #d9d9d9;
    color: black;
    border: .1em solid;
    margin: 0 0 .4em 0;
}

.comments li h5 {
    margin: 0;
    padding: .2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: .1em solid;
}

section .blockCont .comments textarea {
    margin: 0.25em;
    border-radius: 0.25em;
    border: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
}
section .blockCont .comments textarea:focus {
    outline: none;
}

#addNew {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #002e3d;
    border: 0.1em solid #ccc;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: 2.5em;
    width: 4em;
    height: 4em;
    transition: 0.25s ease;
}

#addNew:hover {
    transform: scale(1.1);
}
#addNew:active {
    transform: scale(0.9);
}
#addNew:focus {
    outline: none;
}
#addNew #addNewPlus {
    border-radius: 1em;
    position: relative;
    height: 0.3em;
    width: 60%;
    background: #ccc;
}
#addNew #addNewPlus:before {
    left: 0;
    width: 100%;
    content: '';
    height: 100%;
    position: absolute;
    background: inherit;
    border-radius: 1em;
    transform: rotate(90deg);
}

#addNew #fileFormBlock {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#addNew #xBlock {
    font-size: 4em;
}

.fileForm {
    display: none;
    margin-bottom: .15em;
}
