#footNavi {
    width: 100%;
    margin-bottom: 1em;
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.pageLinkFoot {
    background: #438283;
    border: .1em solid #217071;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4em;
    cursor: pointer;
}

.pageLinkFoot:hover {
    background: #217871;
    border: .14em solid #217071;
}

.thisLink {
    border: .1em solid #217071;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4em;
    font-weight: 600;
    background: #549394;
    color: black;
}