.registerContainer {
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
}

.registerFeedback {
    height: 20vh;
    width: 20vw;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #335f6d;
    border: .1em solid #114d4b;
}

#register_form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #335f6d;
    border: .1em solid #114d4b;
}

#register_form div {
    margin: .3em auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}