{% for item in Posts %}
    <div class="blockCont">
        <div class="block">
            <h1>
                <a href="{{ path('viewer', {'fileName': item.file.path }) }}" aria-label="Name">{{ item.file.shortName }}</a>
                <span title="Vote" aria-label="Vote">{{ item.file.vote }}</span>
                <time aria-label="Added">{{ item.file.when_.format('jS F Y H:i') }}</time>
            </h1>
            {% if item.file.isVideo() %}
                <video controls>
                    <source src="/{{ item.file.webPath }}" type="{{ item.file.videoType }}"/>
                </video>
            {% else %}
                <img src="/{{ item.file.webPath }}"/>
            {% endif %}
        </div>
        <div class="commentCont">
            <ul class="comments">
                {% for com in item.comments %}
                    <li>
                        <h5>{{ com.User.username }}<span>{{ com.comment.when.format('d.m.y H:i') }}</span></h5>
                        <div class="commentMessage">{{ com.comment.message }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}