{% extends 'MirrorMirrorSiteBundle::base.html.twig' %}

{% block title %}Mirror|{{ file.name }}{% endblock %}

{% block header %}Mirror - details{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/Mirror/css/header.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/Mirror/css/main.css') }}" type="text/css" />
    <style>
        article {
            width: 90%;
            margin: auto;
        }

        .flex-center {
            display: flex;
            justify-content: space-between;;
        }

        .commentsDetails {
            background: #eee;
            color: black;
            border: .1em solid #ccc;
            width: 38%;
        }

        .commentsDetails h4 {
            margin: 0;
            background: #ccc;
            text-align: center;
        }

        .commentsDetails ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .commentsDetails ul li {
            background: #eee;
            margin-bottom: .5em;
        }

        .commentsDetails ul li h5 {
            background: #777;
            border-bottom: .2em solid;
            margin: 0 0 .2em 0;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/Mirror/main.js') }}"></script>
{% endblock %}

{% block body %}
    <section>
        <div class="blockCont">
            <div class="block">
                <h1>
                    <a href="#" aria-label="Name">{{ file.shortName }}</a>
                    {#<span id="fileVote{{ item.file.id }}" class="userVoteArea">#}
                    {#<i class="icon-thumbs-up voting" title="Upvote" aria-label="Upvote" style="color: {{ item.upVote }};">#}
                    {#&#xe800;#}
                    {#</i>#}
                    <span title='Vote' aria-label="Vote">{{ file.vote }}</span>
                    {#<i class="icon-thumbs-down voting" title="Downvote" aria-label="Downvote" style="color: {{ item.downVote }};">#}
                    {#&#xe801;#}
                    {#</i>#}
                    {#</span>#}
                    <time aria-label="Added">{{ file.when_.format('jS M Y H:i:s') }}</time>
                </h1>
                {% if file.isVideo() %}
                    <video controls>
                        <source src="/{{ file.webPath }}" type="{{ file.videoType }}"/>
                    </video>
                {% else %}
                    <img src="/{{ file.webPath }}"/>
                {% endif %}
            </div>
            <div class="commentCont">
                <ul class="comments">
                    {% for com in comments %}
                        <li>
                            <h5>{{ com.User.username }}<span>{{ com.comment.when.format('d.m.y H:i') }}</span></h5>
                            <div class="commentMessage">{{ com.comment.message }}</div>
                        </li>
                    {% endfor %}
                    {#<li style="background: none; border: 0;">#}
                    {#<textarea id="newComment{{ item.file.id }}" placeholder="Say something" class="newComments"></textarea>#}
                    {#</li>#}
                </ul>

            </div>
        </div>
    </section>


{% endblock %}