{% extends "MirrorMirrorSiteBundle::base.html.twig" %}

{% block title %}Mirror|New User{% endblock %}

{% block header %}Mirror - New User{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/Mirror/css/main.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/Mirror/css/header.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/Mirror/css/registerForm.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/Mirror/main.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="registerContainer">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <span class="registerFeedback">
            {% if isPost %}{{ isPost }}{% endif %}
        </span>
    </div>
{% endblock %}